<div class="panel panel-default">
  <div class="panel-heading">
    最近作成されたメッセージ一覧
  </div>
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span> <%= message.body %>
      <br>
    <% end %>
  </div>
  <div class="panel-body">
    <% num = @size < 11 ? @size : 10 %> 
    <% num.times do |i| %>
      <span class="label label-info"><%= @messages[@size-i].name %></span> <%= @messages[@size-i].body %>
      <br>
    <% end %>
  </div>

</div>

一番新しいメッセージがQRコード化されて下に表示されています．
<br>

<%= image_tag 'test.png' %>

<br>
<%#= link_to "PDFファイル",{:controller => "images",:action=>"download"} %>
<%#= link_to 'pngファイル',:controller => 'images', :action => 'download', :id => 1 %>
<br>

<%= form_for(Message.new) do |f| %>
  <% if @message.errors.present? %> <div class="alert alert-danger">
    <%= alert %>
    <ul>
      <% @message.errors.full_messages.each do |full_message| %>
        <li>
          <%= full_message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

  名前(10文字以内):
<br>
<%= f.text_field :name %>
<br>
  内容(32文字以内):
<br>
<%= f.text_area :body %>
<br>
<%= f.submit("Create QR", class: "btn btn-sm btn-primary") %>

<% end %>

<%= image_tag 'sample1.png' %>

